.rdw-editor-main {
    background-color: $offwhite;
    border-radius: 5px;
    margin-top: 15px;
    padding: 0px 15px;
    border: 1px solid #e0e0e0;
}
.rdw-image-modal {
    left: -215px;
}
.rdw-emoji-modal {
    left: -170px;
}
.rdw-embedded-modal {
    left: -125px;
}